h1{ 
    text-align: center;
    color: white;
}
.fila{
    border: 3px solid blue;
    background-color: black;
    margin-bottom: 15px;
    /*height: 180px;*/ 
    
}
.columna{ 
    background-color: black;
    border: 2px solid green;
    padding: 10;
    height: 180px;
}

.col{
    background-color: teal;
    border: 2px solid white;
}
